@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
@media screen and (min-width: 320px) and (max-width: 670px) {
  body #home #myVideo {
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  body #home .navbar .navbar-toggler {
    width: auto;
    height: 30px;
    color: #f40009; }
  body #home .navbar .navbar-brand {
    margin: auto; }

  #games #demo {
    margin-top: 95px; }
    #games #demo .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    #games #demo .carousel-inner .carousel-item img {
      width: 100%;
      height: auto;
      margin: 0; }
    #games #demo .carousel-inner .carousel-item #gta-sm {
      color: black; }
    #games #demo .carousel-inner .carousel-item .carousel-caption {
      bottom: -10px; }
      #games #demo .carousel-inner .carousel-item .carousel-caption h3 {
        font-size: 22px; }
      #games #demo .carousel-inner .carousel-item .carousel-caption p {
        font-size: 13px; }

  #aboutus .container .row h2 {
    padding-bottom: 15px; }
  #aboutus .container .row .col-md-6 .phone {
    width: 100%;
    height: auto;
    margin: auto; }

  #features .container .row {
    color: #f40009; }
    #features .container .row h2 {
      margin: auto;
      padding-bottom: 15px; }
    #features .container .row .features_icons {
      padding-bottom: 30px; }

  #testimonials ul li .img-round {
    width: 30px;
    height: auto; }

  #contactus .container .row img {
    width: 100%;
    margin: auto; }
  #contactus .container .row #message {
    width: 100%;
    height: auto;
    margin: auto; }

  #Showcase .order-now {
    display: none; }
  #Showcase .preorder {
    display: none; }
  #Showcase .cards {
    display: block !important;
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff; }
    #Showcase .cards .card {
      background-color: #107c11;
      margin-bottom: 20px; }
      #Showcase .cards .card h4 {
        font-family: 'Faster One', cursive; }
      #Showcase .cards .card a {
        color: #fff; }
      #Showcase .cards .card a:hover {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none; }
    #Showcase .cards .card-pre {
      background-color: #2e6db4;
      margin-bottom: 20px; }
      #Showcase .cards .card-pre h4 {
        font-family: 'Faster One', cursive; }
      #Showcase .cards .card-pre a {
        color: #fff; }
      #Showcase .cards .card-pre a:hover {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none; } }
@media screen and (min-width: 671px) and (max-width: 1440px) {
  body #games #demo {
    margin-top: 95px; }
    body #games #demo .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    body #games #demo .carousel-inner .carousel-item img {
      width: 100%;
      height: auto;
      margin: 0; }
    body #games #demo .carousel-inner .carousel-item #gta-sm {
      color: black; }
    body #games #demo .carousel-inner .carousel-caption {
      bottom: -10px; }
      body #games #demo .carousel-inner .carousel-caption h3 {
        font-size: 32px; }
      body #games #demo .carousel-inner .carousel-caption p {
        font-size: 28px; }
  body #aboutus .container .row h2 {
    padding-bottom: 15px; }
  body #aboutus .container .row .col-md-6 .phone {
    width: 100%;
    height: auto; }
  body #aboutus .container .row .col-md-6 p {
    font-size: 16px; }
  body #features {
    color: #f40009; }
    body #features h3 {
      font-size: 20px; }
    body #features p {
      font-size: 14px; }
  body #contactus #map {
    width: 100%;
    height: auto; }
  body #contactus #message {
    width: 100%;
    height: auto;
    margin: auto; } }
#home #myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }
#home .fixed-top {
  width: 100%;
  position: fixed; }
#home .navbar {
  transition: 0.6s all ease-in-out; }
  #home .navbar .navbar-brand img {
    height: auto;
    width: 200px; }

#games .carousel .carousel-indicators li {
  height: 25px;
  width: 25px;
  border-radius: 50%; }
#games .carousel .carousel-inner .carousel-item img {
  height: auto;
  width: 650px;
  margin-left: 33%;
  margin-top: 5%; }
#games .carousel .carousel-inner .carousel-item .reverse {
  color: #f40009; }
#games .carousel .carousel-inner .carousel-item .carousel-caption {
  margin: 30px; }
  #games .carousel .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 48px;
    font-family: 'Faster One', cursive; }

#Showcase {
  margin-top: 85px; }
  #Showcase .order-now {
    padding: 0;
    margin: 0; }
    #Showcase .order-now .row .col-md-6 {
      margin: 0px -8px;
      padding: 0px; }
    #Showcase .order-now .row .discript-block {
      min-height: 200px;
      width: 100%;
      background-color: #107c11 !important;
      color: #fff; }
      #Showcase .order-now .row .discript-block h2 {
        font-family: 'Faster One', cursive;
        position: absolute;
        top: 310px;
        left: 260px;
        font-size: 48px; }
      #Showcase .order-now .row .discript-block a {
        position: absolute;
        top: 370px;
        left: 260px;
        color: #fff; }
        #Showcase .order-now .row .discript-block a h3 {
          font-size: 28px; }
      #Showcase .order-now .row .discript-block a:hover {
        color: rgba(255, 255, 255, 0.3);
        text-decoration: none; }
    #Showcase .order-now .row .img-hover {
      width: 100%;
      height: auto;
      overflow: hidden; }
      #Showcase .order-now .row .img-hover img {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease-in-out; }
      #Showcase .order-now .row .img-hover:hover img {
        transform: scale(1.5); }
  #Showcase .preorder {
    padding: 0;
    margin: 0; }
    #Showcase .preorder .row .col-md-6 {
      margin: 0px -8px;
      padding: 0px; }
    #Showcase .preorder .row .discript-block {
      min-height: 200px;
      width: 100%;
      background-color: #2e6db4 !important;
      color: #fff; }
      #Showcase .preorder .row .discript-block h2 {
        font-family: 'Faster One', cursive;
        position: absolute;
        top: 310px;
        left: 260px;
        font-size: 48px; }
      #Showcase .preorder .row .discript-block a {
        position: absolute;
        top: 370px;
        left: 260px;
        color: #fff; }
        #Showcase .preorder .row .discript-block a h3 {
          font-size: 28px; }
      #Showcase .preorder .row .discript-block a:hover {
        color: rgba(255, 255, 255, 0.3);
        text-decoration: none; }
    #Showcase .preorder .row .img-hover {
      width: 100%;
      height: auto;
      overflow: hidden; }
      #Showcase .preorder .row .img-hover img {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease-in-out; }
      #Showcase .preorder .row .img-hover:hover img {
        transform: scale(1.5); }
  #Showcase .cards {
    display: none; }

.ht-30 {
  height: 30px; }

.hov-ov {
  background: transparent; }

.hov-ov:hover {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9) 0%, rgba(100, 100, 100, 0.3) 25%, rgba(150, 150, 150, 0.5) 50%, rgba(100, 100, 100, 0.3) 75%, rgba(0, 0, 0, 0.9) 100%); }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: maroon; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link:hover {
  color: #f40009; }

.top-nav-collapse {
  background-color: #000 !important;
  padding: 20px 0;
  box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35); }

.head {
  margin-top: 150px;
  color: #fff; }

#aboutus {
  margin-top: 30px;
  padding: 10px; }
  #aboutus .container .row h2 {
    text-decoration-style: bold;
    color: #f40009;
    margin: auto; }
  #aboutus .container .row h3 {
    font-size: 18px;
    padding-top: 10px;
    color: #f40009; }
  #aboutus .container .row .col-md-6 .phone {
    height: auto;
    width: 100%;
    opacity: 0.9; }
  #aboutus .container .row .col-md-6 p {
    text-align: left;
    font-size: 12px;
    padding-top: 30px;
    color: #aaa; }
  #aboutus .container .row .col-md-6 button {
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    margin-top: 30px; }

.mar {
  margin-left: 600px;
  color: #ccc;
  margin-top: 30px; }

#features {
  color: #f40009; }

#testimonials {
  margin-top: 50px;
  background: url(../IMG/testimonialsbg.jpg) no-repeat fixed;
  min-height: 400px;
  padding: 50px;
  opacity: 0.9;
  color: #f40009; }
  #testimonials p {
    font-size: 22px; }
  #testimonials .head1 {
    font-size: 72px;
    color: #f40009; }
  #testimonials ul {
    display: inline-block;
    list-style: none; }
    #testimonials ul li {
      padding: 5px;
      display: inline-block; }

.toppad {
  padding-top: 20px; }

.mar1 {
  margin-top: 30px; }

#contactus {
  margin-top: 50px;
  color: #f40009; }
  #contactus h2 {
    font-size: 48px; }

footer {
  background: url(../IMG/footbg.png) no-repeat fixed;
  background-size: cover;
  margin-top: 50px;
  color: #fff; }
  footer #footer {
    background: rgba(0, 0, 0, 0.7);
    min-height: 400px;
    padding-top: 100px; }
  footer h3 {
    font-size: 18px; }
  footer p {
    font-size: 12px; }
  footer h4 {
    font-size: 16px; }

/*# sourceMappingURL=style.css.map */
