// for small devices
@media screen and (min-width: 320px) and (max-width: 670px){
	body{
		#home{
			#myVideo{
				width: auto;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: -1;
			}
			.navbar{
				.navbar-toggler{
					width: auto;
					height: 30px;
					color: $red;
					}
				.navbar-brand{
					margin: auto;
					}
				}
			}
		}
		#games{
			#demo{
				margin-top: 95px;
				.carousel-indicators{
					li{
						width: 15px;
						height: 15px;
						border-radius: 50%;
					}
				}
				.carousel-inner{
					.carousel-item{
						img{
							width: 100%;
							height:auto;
							margin: 0;
						}
						#gta-sm{
							color: black;
						}
						.carousel-caption{
							bottom:-10px;
							h3{
								font-size: 22px;
							}
							p{
								font-size: 13px;
							}
						}
					}
				}
			}
		}
		#aboutus{
			.container{
				.row{
					h2{
						padding-bottom: 15px;
					}
					.col-md-6{
						.phone{
							width: 100%;
							height: auto;
							margin: auto;
						}
					}
				}
			}
		}
		#features{
			.container{
				.row{
					color: $red;
					h2{
						margin: auto;
						padding-bottom: 15px; 
					}
					.features_icons{
						padding-bottom: 30px;
					}
				}
			}
		}
		#testimonials{
			ul{
				li{
					.img-round{
						width: 30px;
						height: auto;
					}
				}
			}
		}
		#contactus{
			.container{
				.row{
					img{
						width: 100%;
						margin: auto;
					}
					#message{
						width: 100%;
						height: auto;
						margin: auto;
					}
				}
			}
		}
		// for best of best page
		#Showcase{
			.order-now{
				display: none;
			}
			.preorder{
				display: none;
			}
			.cards{
				display: block !important;
				width: 100%;
				height: auto;
				margin: auto;
				color: $white;
				.card{
					background-color: $vgreen;
					margin-bottom: 20px;
					h4{
						font-family: 'Faster One', cursive;
					}
					a{
						color: $white;
					}
					a:hover{
						color: rgba(255,255,255,0.7);
						text-decoration: none; 
					}
				}
				.card-pre{
					background-color: $cblue;
					margin-bottom: 20px;
					h4{
						font-family: 'Faster One', cursive;
					}
					a{
						color: $white;
					}
					a:hover{
						color: rgba(255,255,255,0.7);
						text-decoration: none; 
					}	
				}
			}
		}
	}
// for medium devices
@media screen and (min-width: 671px) and (max-width: 1440px){
	body{
		#games{
			#demo{
				margin-top: 95px;
				.carousel-indicators{
				li{
					width: 15px;
					height: 15px;
					border-radius: 50%;
					}
				}
				.carousel-inner{
					.carousel-item{
						img{
							width: 100%;
							height:auto;
							margin: 0;
						}
						#gta-sm{
							color: black;
						}
					}
					.carousel-caption{
						bottom:-10px;
						h3{
							font-size: 32px;
						}
						p{
							font-size: 28px;
						}
					}
				}
			}
		}
		#aboutus{
			.container{
				.row{
					h2{
						padding-bottom: 15px;
					}
					.col-md-6{
						.phone{
							width: 100%;
							height: auto;
						}
						p{
							font-size: 16px;
						}
					}
				}
			}
		}
		#features{
			color: $red;
			h3{
				font-size: 20px;
			}
			p{
				font-size: 14px;
			}
		}
		#contactus{
			#map{
				width: 100%;
				height: auto;
			}
			#message{
				width: 100%;
				height: auto;
				margin: auto;
			}
		}
		#Showcase{
			.order-now{
				display: block;
				padding: 0;
				margin: auto;
				.row{
					.col-md-6{
						margin:0px -8px;
						padding:0px;
					}
					.discript-block{
						min-height: 200px;
						width: 100%;
						background-color: $vgreen !important;
						color: $white;
						h2{
							font-family: 'Faster One', cursive;
							// position: absolute;
							// top: 180px;
							// left: 100px;
							margin-left: 25%;
							margin-top: 40%;
							font-size: 28px;
						}
						// #RDR{
						// 	position: absolute;
						// 	top: 180px;
						// 	left: 60px;
						// }
						a{
							// position: absolute;
							// top: 215px;
							// left: 100px;
							margin-left: 25%;
							color: $white;
							h3{
								font-size: 20px;
							}
						}
						a:hover{
							color: rgba(255,255,255,0.3);
							text-decoration: none; 
						}

					}
					.img-hover{
						width: 100%;
						height: auto;
						overflow: hidden;
						img{
							width: 100%;
							height: auto;
							transition: transform 0.5s ease-in-out;
						}
						&:hover img{
							transform: scale(1.5);
						}
					}
				}

			}
			.preorder{
				display: block;
				padding: 0;
				margin: auto;
				.row{
					.col-md-6{
						margin:0px -8px;
						padding:0px;

					}
					.discript-block{
						min-height: 200px;
						width: 100%;
						background-color: $cblue !important;
						color: $white;
						h2{
							font-family: 'Faster One', cursive;
							// position: absolute;
							// top: 180px;
							// left: 100px;
							margin-left: 25%;
							margin-top: 40%;
							font-size: 28px;
						}
						// #legion{
						// 	position: absolute;
						// 	top: 180px;
						// 	left: 60px;
						// }
						a{
							// position: absolute;
							// top: 215px;
							// left: 100px;
							margin-left: 25%;
							color:$white;
							h3{
								font-size: 20px;
							}
						}
						a:hover{
							color: rgba(255,255,255,0.3);
							text-decoration: none; 
						}

					}
					.img-hover{
						width: 100%;
						height: auto;
						overflow: hidden;
						img{
							width: 100%;
							height: auto;
							transition: transform 0.5s ease-in-out;
						}
						&:hover img{
							transform: scale(1.5);
						}
					}
				}
			}
			.cards{
				display: none;
			}
		}
	}
}

